.tornadoChart {
  height: 500px;
}

#combinedDemographic {
  height: 550px;
}

.bar--positive.benchmark {
  fill: #9BCCF5;
}

.bar--negative.benchmark {
  fill: pink;
}

.bar--positive.client {
  fill: #6b9be2;
}

.bar--negative.client {
  fill: #ff9eaf;
}




.tick text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  fill: #666;
}

ul {
  list-style: none;
}

.y.axis path {
  stroke: #666;
  stroke-width: 1px;
  stroke-dasharray : 10, 5;
}


.demographicTooltip{
  opacity: 0;
  pointer-events: none;
  position: absolute;
  min-width: 50px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  padding: 6px 14px 6px 14px;
  border-radius: 4px;
  text-align: left;
  line-height: 1.3;
  color: #5B6770;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, .15);
}


// .dropdown-toggle {
//   width: 200px;
// }

// #demographicCombinedChartArea {
//   display: none;
// }


.y.axis path {
  visibility: hidden;
}


.y.axis .tick line {
  stroke: darkgrey;
  stroke-dasharray: 5, 1;
  stroke-width: 0.5px;
}



.tornadoGrid{
  margin-left: 50px;
  margin-top: 50px;
  margin-right: 20px;
  // top: 50, right: 20, bottom: 30, left: 50
}


#demographicCombinedGrid tbody tr td {
  text-align:center;
}

#demographicCombinedGrid thead tr td {
  text-align:center;
}


#demographicCombinedGrid thead tr th {
  text-align:center;
}

