<div class="row">
  <div class="col">
    <div class="float-right">

      <div class="btn-group" style="display: inline-block;">
        <label class="btn btn-primary btn-sm" [(ngModel)]="grid" btnCheckbox tabindex="0" role="button" (click)="toggleGridGraph()">{{gridDispaly}}</label>
      </div>


      <div [hidden]="!hasClaim" style="display: inline-block;">
        &nbsp;Combined Graph &nbsp;
        <label class="switch switch-3d switch-primary" title="Zoom">
          <input type="checkbox" class="switch-input" [(ngModel)]="zoom" (change)="toggleMergeChart()">

          <span class="switch-label"></span>
          <span class="switch-handle"></span>
        </label>
      </div>
    </div>
  </div>
</div>


<div [hidden]='zoom'>
  <div [hidden]='grid' class="row" id="demographicChartsArea" style="position: relative;" #demographicContainer>
    <div class="col-6">
      <div class="tornadoChart" id='proposalDemographic' #proposalDemographic></div>
      <div *ngIf="proposalGridSummary" class="tornadoSummaryGrid tornadoGrid" id="proposalDemographicGridSummary" #proposalDemographicGridSummary>
        <table class="table table-hover table-sm">
          <thead>
            <tr class="d-flex">
              <th *ngFor="let summaryHeader of getGridSummaryColumnHeader()" class="col-4">{{ summaryHeader }}</th>
            </tr>
          </thead>
          <tbody>
            <tr class="d-flex percentage">
              <td class="col-4">Percentage</td>
              <td class="col-4">{{ proposalGridSummary.percentage.female | PercentageFormatPipe }}</td>
              <td class="col-4">{{ proposalGridSummary.percentage.male | PercentageFormatPipe }}</td>
            </tr>
            <tr class="d-flex avgAge">
              <td class="col-4">Average Age</td>
              <td class="col-4">{{ proposalGridSummary.avgAge.female | FixedNumberFormatPipe }}</td>
              <td class="col-4">{{ proposalGridSummary.avgAge.male | FixedNumberFormatPipe }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-6">
      <div class="tornadoChart" id='benchmarkDemographic' #benchmarkDemographic></div>
      <div class="tornadoSummaryGrid tornadoGrid" id="benchmarkDemographicGridSummary" #benchmarkDemographicGridSummary>
        <table class="table table-hover table-sm">
          <thead>
            <tr class="d-flex">
              <th *ngFor="let summaryHeader of getGridSummaryColumnHeader()" class="col-4">{{ summaryHeader }}</th>
            </tr>
          </thead>
          <tbody>
            <tr class="d-flex percentage">
              <td class="col-4">Percentage</td>
              <td class="col-4">{{ benchmarkGridSummary.percentage.female | PercentageFormatPipe }}</td>
              <td class="col-4">{{ benchmarkGridSummary.percentage.male | PercentageFormatPipe }}</td>
            </tr>
            <tr class="d-flex avgAge">
              <td class="col-4">Average Age</td>
              <td class="col-4">{{ benchmarkGridSummary.avgAge.female | FixedNumberFormatPipe }}</td>
              <td class="col-4">{{ benchmarkGridSummary.avgAge.male | FixedNumberFormatPipe }}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div id="demographicTooltip" class="demographicTooltip">Tooltip</div>
  </div>

  <div [hidden]='!grid' class="row">
    <div class="col-6">
      <div [hidden]="!hasClaim" class="tornadoGrid" id='proposalDemographicGrid' #proposalDemographicGrid>
        <table class="table table-hover">
          <thead>
            <tr class="d-flex">
              <th *ngFor="let headerName of getGridDetailColumnHeader()" class="col-4">{{ headerName }}</th>
            </tr>
          </thead>
          <tbody>
            <tr class="d-flex" *ngFor="let row of proposalGridData">
              <td class="col-4">{{row.ageGroup}}</td>
              <td class="col-4">{{row.percentage.female | PercentageFormatPipe }}</td>
              <td class="col-4">{{row.percentage.male | PercentageFormatPipe }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-6">
      <div class="tornadoGrid" id='benchmarkDemographicGrid' #benchmarkDemographicGrid>
        <table class="table table-hover">
          <thead>
            <tr class="d-flex">
              <th *ngFor="let headerName of getGridDetailColumnHeader()" class="col-4">{{ headerName }}</th>
            </tr>
          </thead>
          <tbody>
            <tr class="d-flex" *ngFor="let row of benchmarkGridData">
              <td class="col-4">{{row.ageGroup}}</td>
              <td class="col-4">{{row.percentage.female | PercentageFormatPipe }}</td>
              <td class="col-4">{{row.percentage.male | PercentageFormatPipe }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

</div>


<div [hidden]='!zoom'>
  <div [hidden]='grid' class="row" id="demographicCombinedChartArea" style="position: relative;" #demographicCombinedContainer>
    <div class="col">
      <div id="combinedDemographic" #combinedDemographic></div>
    </div>
    <div id="demographicCombinedTooltip" class="demographicTooltip">Tooltip</div>
  </div>

  <div [hidden]='!grid' class="row">
    <div class="col">
      <div class="tornadoGrid" id='demographicCombinedGrid' #demographicCombinedGrid>
        <table class="table table-hover">
          <thead>
            <tr>
              <th *ngFor="let headerName of getGridDetailColumnHeader(); let i = index" [colSpan]="i === 0 ? 1:2">{{ headerName }}</th>
            </tr>
            <tr>
              <td *ngFor="let subHeaderName of getGridCombinedColumnHeader()">{{ subHeaderName }}</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of benchmarkGridData; let i = index">
              <td>{{ row.ageGroup }}</td>
              <td>{{ proposalGridData[i].percentage.female | PercentageFormatPipe }}</td>
              <td>{{ row.percentage.female | PercentageFormatPipe }}</td>
              <td>{{ proposalGridData[i].percentage.male | PercentageFormatPipe }}</td>
              <td>{{ row.percentage.male | PercentageFormatPipe }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>