$primary-font-color: #666;
$axis-line-dark-grey: darkgrey;

.claims-avg-cost {
    // background-color: beige;    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    &__header {
        display: flex;
        justify-content: flex-end;
    }
    &__content {
        display: flex;
        flex-direction: column;
        height: 100%;
        &-title {
            flex: 0 0 3rem;
            line-height: 3rem;
            margin: auto 0;
        } // claims-avg-cost__content-graph
        &-graph {
            flex: 1 1 auto;


            &-prev{
                fill: axis-line-dark-grey;
            }
            &-curr {
                fill: axis-line-dark-grey;
            }

            &-benchmark {
                fill: axis-line-dark-grey;
            }



            svg {
                height: 100%;
                width: 100%;
                .tick text {
                    font-family: inherit;
                    font-size: 0.75rem;
                    fill: $primary-font-color;
                }
                .y.axis path {
                    visibility: hidden;
                }
            }
        }
    }
}