$primary-font-color: #666;
$axis-line-dark-grey: darkgrey;
.claims-per-capita {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%; // background-color: yellow;
    &__header {
        flex: 0 0 2.2rem;
        display: flex;
        justify-content: flex-end;
        &-amount-type {
            align-self: center;
        }
        &-sort {
            align-self: center;
        }
        &-zoom {
            align-self: center;
            span {
                font-size: 0.765625rem;
            }
        }
    }
    &__content {
        flex: 1 1 auto;
        display: flex; // height: 100%;
        &-client {
            // flex-basis: 50%;
            flex: 1 1 50%;
            display: flex;
            flex-direction: column;
            &-title {
                flex: 0 0 3rem;
                line-height: 3rem;
            }
            &-graph {
                flex: 1 0 auto;
            }
        }
        &-benchmark {
            flex: 1 1 50%;
            display: flex;
            flex-direction: column;
            &-title {
                flex: 0 0 3rem;
                line-height: 3rem;
            }
            &-graph {
                flex: 1 1 auto;
            }
        }
        &-grid {
            flex: 1 1 auto;
        }
    }
}

.separator-vertical {
    display: inline-block;
    border-right: 1px lightgrey solid;
    margin-left: 2rem;
    margin-right: 2rem;
    height: 80%;
}

.waterfallChart {
    height: 100%;
    width: 100%;
    .tick text {
        font-family: inherit;
        font-size: 0.75rem;
        fill: $primary-font-color;
    }
    .y.axis path {
        visibility: hidden;
    }
}

.waterfallGrid {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    thead tr {
        th {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    tbody tr td {
        padding-left: 30px;
        padding-right: 30px;
    }
    tbody tr td:not(:first-child) {
        text-align: right;
    }
    thead tr th:not(:first-child) {
        text-align: right;
    }
}

.waterfallGrid .conditionGroupTotal {
    background-color: gainsboro;
    font-weight: bold;
}

.headerSelected {
    color: gainsboro;
}

.headerUnSelected {
    cursor: pointer;
    transition: all .2s;
}

.headerUnSelected:hover {
    transform: scale(1.4);
}