<div class="row">
  <div class="col">
    <div class="float-right">
      <div>



        <form class="form-inline">

          <div *ngIf="countryCode==='ISO2_IT'">
            Claim/Settled Amount &nbsp;
            <div class="btn-group">
              <label class="btn btn-primary btn-sm" [(ngModel)]="amountType" [ngModelOptions]="{standalone: true}" btnRadio="claim" tabindex="0"
                role="button" (click)="changeAmountType()">Claim</label>
              <label class="btn btn-primary btn-sm" [(ngModel)]="amountType" [ngModelOptions]="{standalone: true}" btnRadio="settled" tabindex="0"
                role="button" (click)="changeAmountType()">Settled</label>
            </div>

          </div>

          &nbsp; Sorting &nbsp;
          <div class="btn-group">
            <label class="btn btn-primary btn-sm" [(ngModel)]="sorting" [ngModelOptions]="{standalone: true}" btnRadio="Asc" tabindex="0"
              role="button" (click)="changeSorting()">Asc</label>
            <label class="btn btn-primary btn-sm" [(ngModel)]="sorting" [ngModelOptions]="{standalone: true}" btnRadio="Desc" tabindex="0"
              role="button" (click)="changeSorting()">Desc</label>
            <label class="btn btn-primary btn-sm" [(ngModel)]="sorting" [ngModelOptions]="{standalone: true}" btnRadio="Default" tabindex="0"
              role="button" (click)="changeSorting()">Default</label>
          </div>

          &nbsp; Zoom &nbsp;
          <div>
            <label class="switch switch-3d switch-primary" title="Zoom">
              <input type="checkbox" class="switch-input" [(ngModel)]="zoom" [ngModelOptions]="{standalone: true}" (change)="creatOrUpdateChart()">
              <span class="switch-label"></span>
              <span class="switch-handle"></span>
            </label>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>

<div class="row" style="position: relative;" id="claimsPerCapitaContainer" #claimsPerCapitaContainer>
  <div class="col-6">
    <div class="waterfallChart" id="proposalClaimsPerCapita" #proposalClaimsPerCapita></div>
  </div>
  <div class="col-6">
    <div class="waterfallChart" id="benchmarkClaimsPerCapita" #benchmarkClaimsPerCapita></div>
  </div>
  <div id="waterfallTooltip">Tooltip</div>
</div>