// li {
//   font-size: 0.8em;
// }


// .dropdown-menu {
//   max-height: 400px;
//   overflow: hidden;
//   overflow-y: auto;
// }


// @import ''


// @import './../../../../../../scss/vendors/toastr/toastr.scss'
