.historical__content {



    background-color: aqua;
    height: calc(100vh - 2.5rem - 61px - 50px);
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}


.historical__filter {
    float: right;
}

// height: calc(100vh - 3rem - 61px - 50px);