#projectionChart{
    height: 500px;
}

.tick text {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12px;
    fill: #666;
}
  
  
#projectionToolip{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    min-width: 50px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    padding: 6px 14px 6px 14px;
    border-radius: 4px;
    text-align: left;
    line-height: 1.3;
    color: #5B6770;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, .15);
}


.legend text {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 11px;
    fill: #666;
}

.dummyText {
    visibility: hidden;
}


#planDropdown li {
    font-size: 0.8em;
}
  
#periodDropdown li {
    font-size: 0.8em;
}

#projectionDropdown li {
    font-size: 0.8em;
}

#categoryDropdown li {
    font-size: 0.8em;
}


  
.dropdown-menu {
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
}