.fiveYearProjection{
  height: 500px;
}


#projectionPie{
  height: 250px;
}


.tick text {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    fill: #666;
}


.fiveYearProjection .x.axis .tick line {
  stroke: darkgrey;
  stroke-dasharray: 5, 1;
  stroke-width: 0.5px;
}

.fiveYearProjection .x.axis path {
  visibility: hidden;
}


.fiveYearProjection .y.axis path {
  visibility: hidden;
}

  
#projectionToolip{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    min-width: 50px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    padding: 6px 14px 6px 14px;
    border-radius: 4px;
    text-align: left;
    line-height: 1.3;
    color: #5B6770;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, .15);
}


#fundingGapPieToolip{
  opacity: 0;
  pointer-events: none;
  position: absolute;
  min-width: 50px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  padding: 6px 14px 6px 14px;
  border-radius: 4px;
  text-align: left;
  line-height: 1.3;
  color: #5B6770;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, .15);
}





#projectionGrid  {
  font-size: 10px;
}



#projectionGrid tbody td {
  padding-right: 30px;
  text-align: right;
}

#projectionGrid tbody td:nth-child(1) {
  text-align: left;
}


#projectionGrid thead th {
  padding-right: 30px;
  text-align: right;
}

#projectionGrid thead th:nth-child(1) {
  text-align: left;
}


#projectionLegend {
  display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

.legendRect {
  display: inline-block;
  width: 10px;
  height: 10px;
}



#projectionLegend li {
  cursor: auto;
}


#projectionLegend .list-group-item{
  border: 0;
  padding-left: 5px;
  transition: all 0.8s cubic-bezier(0.22, 0.61, 0.36, 1)
}



#projectionGrid {
  margin-left: 20px;
}

#projectionLeft{
  padding-left: 5px;
  padding-right: 5px;
}

.li-wrapper-unselected {
  position: relative;
  display: block;
  cursor: pointer;
  // padding: 5px;;
}

.li-wrapper-unselected:before, .li-wrapper-unselected:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  top: 50%;
  margin-top: -0.5px;
  background:darkgray;
}



.li-wrapper-unselected:before {
  left: -2.5px;
}

.li-wrapper-unselected:after {
  right: 2.5px;
  background: darkgray;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}




.li-wrapper-unselected:hover:before {
  background : darkgray;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.li-wrapper-unselected:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}


.li-wrapper-unselected:hover {
//  background-color: yellow;
 transition: all 800ms ease-out;
}


.li-wrapper-selected {
  // position: relative;
  // display: block;
  cursor: pointer;
  background-color: lightgray;
  color: darkgray;
}





#projectionChartsArea h5 {
  text-align: center;
}


#lossRatioChart{
  margin: 5px, 20px,40px,5px; 
  // border: solid 1px black;

  background-color: azure;

  height: 150px;
}


.grid-graph{
  cursor: pointer;
}

.piechartContainer circle {
  cursor: pointer;
}


#projectionReset {
  cursor: pointer;
}

#projectionPeriod li {
  padding-left: 5px;
  padding-right: 5px;
  transition: background-color 0.8s cubic-bezier(0.22, 0.61, 0.36, 1)
}
