$primary-font-color: #666;
$axis-line-dark-grey: darkgrey;
// .projection__bar-chart {
//     height: 500px;
//     .axis .tick text {
//         font-family: inherit;
//         font-size: 0.875rem;
//         fill: $primary-font-color;
//     }
//     .axis path {
//         visibility: hidden;
//     }
//     .x.axis .tick line {
//         stroke: $axis-line-dark-grey;
//         stroke-dasharray: 5, 1;
//         stroke-width: 0.5px;
//     }
// }
.projection__pie-chart {
    height: 250px;
}

#projectionLegend {
    display: table;
    /* Allow the centering to work */
    margin: 0 auto;
}

.legendRect {
    display: inline-block;
    width: 10px;
    height: 10px;
}

#projectionLegend li {
    cursor: auto;
}

#projectionLegend .list-group-item {
    border: 0;
    padding-left: 5px;
    transition: all 0.8s cubic-bezier(0.22, 0.61, 0.36, 1)
}

#projectionLeft {
    padding-left: 20px;
    padding-right: 5px;
}


.li-wrapper-unselected {
    position: relative;
    display: block;
    cursor: pointer; // padding: 5px;;
}

.li-wrapper-unselected:before,
.li-wrapper-unselected:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    top: 50%;
    margin-top: -0.5px;
    background: darkgray;
}

.li-wrapper-unselected:before {
    left: -2.5px;
}

.li-wrapper-unselected:after {
    right: 2.5px;
    background: darkgray;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.li-wrapper-unselected:hover:before {
    background: darkgray;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.li-wrapper-unselected:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
}

.li-wrapper-unselected:hover {
    //  background-color: yellow;
    transition: all 800ms ease-out;
}

.li-wrapper-selected {
    text-decoration: line-through;
    color: lightgray;
    cursor: pointer;
}

#projectionChartsArea h5 {
    text-align: center;
}

.grid-graph {
    cursor: pointer;
}

.piechartContainer circle {
    cursor: pointer;
}

#projectionReset {
    cursor: pointer;
}

#projectionPeriod li {
    padding-left: 5px;
    padding-right: 5px;
    transition: background-color 0.8s cubic-bezier(0.22, 0.61, 0.36, 1)
}

.projection {
    .axis .tick text {
        font-family: inherit;
        font-size: 0.875rem;
        fill: $primary-font-color;
    }
    .axis path {
        visibility: hidden;
    }
    .x.axis .tick line {
        stroke: $axis-line-dark-grey;
        stroke-dasharray: 5, 1;
        stroke-width: 0.5px;
    }
    &__bar-chart {
        height: 500px;
    }
    &__loss-ratio {
        // chart -> svg
        &-chart {
            height: 200px;
            .x.axis .tick text {
                visibility: hidden;
            }
            .line {
                fill: none;
                stroke-dasharray: 5, 1;
                stroke-width: 2px;
                opacity: 0;
            }
            circle {
                cursor: pointer;
            }
        }
    }
}


#projectionGrid tbody td {
    padding-right: 30px;
    text-align: right;
}

#projectionGrid tbody td:nth-child(1) {
    text-align: left;
}

#projectionGrid thead th {
    padding-right: 30px;
    text-align: right;
}

#projectionGrid thead th:nth-child(1) {
    text-align: left;
}

#projectionLeft {
    position: relative;
    width: 280px;
    transition: all .5s ease-out;
}

#projectionLeft.collapseFilter {
    margin-left: -280px;
    visibility: hidden;
}