<div class="row" id="projectionChartsArea" style="position: relative;" #projectionChartContainer>
  <div class="col-6">
    <div id='projectionChart' #projectionChart></div>
  </div>
  <div id="projectionToolip">Tooltip</div>

  <div class="col-6">
    <div class="row">
      <div class="col">
        <div class="float-right">
          <!-- dropdown: plan -->
          <div class="btn-group" id="planDropdown" dropdown #planDropdown="bs-dropdown" [autoClose]="false" [isOpen]="dropdownStatus['planDropdown']"
            (isOpenChange)="toggleDropdown($event, 'planDropdown' )" (clickOutside)="onClickedOutside($event ,'planDropdown' )"
            placement="top" attachOutsideOnClick="true">
            <button dropdownToggle type="button" class="btn btn-primary  btn-sm  dropdown-toggle">
              Select Plans
              <span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">

              <li role="menuitem">
                <label class="dropdown-item">
                  <input type="checkbox" [(ngModel)]="planSelector.all" (change)="toggleMultiSelectAll('planDropdown')" /> (All)
                </label>
              </li>

              <li *ngFor="let n of planSelector.selectionItems" class="menuitem">
                <label class="dropdown-item">
                  <input type="checkbox" [(ngModel)]="n.checked" (change)="checkIfAllElementSelected('planDropdown')"> {{n.elementName}}
                </label>
              </li>

            </ul>
          </div>

          <!-- dropdown: period -->
          <div class="btn-group" id="periodDropdown" dropdown #periodDropdown="bs-dropdown" [autoClose]="false" [isOpen]="dropdownStatus['periodDropdown']"
            (isOpenChange)="toggleDropdown($event, 'periodDropdown' )" (clickOutside)="onClickedOutside($event,'periodDropdown' )"
            placement="top" attachOutsideOnClick="true">
            <button dropdownToggle type="button" class="btn btn-primary  btn-sm  dropdown-toggle">
              Select Periods
              <span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">

              <li role="menuitem">
                <label class="dropdown-item">
                  <input type="checkbox" [(ngModel)]="periodSelector.all" (change)="toggleMultiSelectAll('periodDropdown')" /> (All)
                </label>
              </li>


              <li *ngFor="let n of periodSelector.selectionItems" class="menuitem">
                <label class="dropdown-item">
                  <input type="checkbox" [(ngModel)]="n.checked" (change)="checkIfAllElementSelected('periodDropdown')"> {{n.elementName}}
                </label>
              </li>

            </ul>
          </div>

          <!-- dropdown: projection -->
          <div class="btn-group" id="projectionDropdown" dropdown #projectionDropdown="bs-dropdown" [autoClose]="false" [isOpen]="dropdownStatus['projectionDropdown']"
            (isOpenChange)="toggleDropdown($event, 'projectionDropdown' )" (clickOutside)="onClickedOutside($event, 'projectionDropdown' )"
            placement="top" attachOutsideOnClick="true">
            <button dropdownToggle type="button" class="btn btn-primary  btn-sm  dropdown-toggle">
              Select Projection
              <span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">

              <li role="menuitem">
                <label class="dropdown-item">
                  <input type="checkbox" [(ngModel)]="projectionSelector.all" (change)="toggleMultiSelectAll('projectionDropdown')" /> (All)
                </label>
              </li>

              <li *ngFor="let n of projectionSelector.selectionItems" class="menuitem">
                <label class="dropdown-item">
                  <input type="checkbox" [(ngModel)]="n.checked" (change)="checkIfAllElementSelected('projectionDropdown')"> {{n.elementName}}
                </label>
              </li>

            </ul>
          </div>

          <!-- dropdown: category -->
          <div class="btn-group" id="categoryDropdown" dropdown #categoryDropdown="bs-dropdown" [autoClose]="false" [isOpen]="dropdownStatus['categoryDropdown']"
            (isOpenChange)="toggleDropdown($event, 'categoryDropdown' )" (clickOutside)="onClickedOutside($event, 'categoryDropdown' )"
            placement="top" attachOutsideOnClick="true">
            <button dropdownToggle type="button" class="btn btn-primary  btn-sm  dropdown-toggle">
              Select Categories
              <span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">

              <li role="menuitem">
                <label class="dropdown-item">
                  <input type="checkbox" [(ngModel)]="categorySelector.all" (change)="toggleMultiSelectAll('categoryDropdown')" /> (All)
                </label>
              </li>

              <li *ngFor="let n of categorySelector.selectionItems" class="menuitem">
                <label class="dropdown-item">
                  <input type="checkbox" [(ngModel)]="n.checked" (change)="checkIfAllElementSelected('categoryDropdown')"> {{n.elementName | UKProjectionCategory }}
                </label>
              </li>

            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>