.projection {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    height: calc(100vh - 3rem - 61px - 50px);
    background-color: orangered;
    display: flex;
    justify-content: space-between;
    padding: 0.875rem;
    &__filter {
        flex: 0 1 auto;
        width: 20%;
        background-color: aqua; // flex: 1 1 20%;
        transition: all .4s ease-out;
        

    }
    &__content {
        width: 80%;
        background-color: yellowgreen;
        position: relative;
        flex: 1 0 auto;
        transition: all .4s ease-out;
        &-shrink-logo {
            position: absolute;
            top: 0;
            left: 0;
            width: 3rem;
            height: 3rem;
            background-color: beige;
            cursor: pointer;
        }
    }
}

.flexed {
    width: 30%;
}

.removed {
    width: 0;
}