<div class="row">
  <div class="col">
    <div class="float-left">
      <div>
        <form [formGroup]="sortingForm" class="form-inline">
          <div class="form-group">
            <div class="btn-group" btnRadioGroup formControlName="sorting">
              <label btnRadio="Asc" class="btn btn-primary btn-sm">Asc</label>
              <label btnRadio="Desc" class="btn btn-primary btn-sm ">Desc</label>
              <label btnRadio="Default" class="btn btn-primary btn-sm">Default</label>
            </div>

            <div>
              <label class="switch switch-3d switch-primary" title="Zoom">
                <input type="checkbox" class="switch-input" [(ngModel)]="zoom" [ngModelOptions]="{standalone: true}" (change)="toggleSwitch()">
                <span class="switch-label"></span>
                <span class="switch-handle"></span>
              </label>
            </div>

          </div>
        </form>
      </div>


    </div>




  </div>

  <div class="col">
    <div class="float-right">
      <div class="btn-group" id="regionDropdown" dropdown #Dropdown="bs-dropdown" [autoClose]="false" [isOpen]="dropdownStatus['regionDropdown']"
        (isOpenChange)="toggleDropdown($event, 'regionDropdown')" (clickOutside)="onClickedOutside($event,'regionDropdown')"
        placement="top" attachOutsideOnClick="true">
        <button dropdownToggle type="button" class="btn btn-primary btn-sm dropdown-toggle">
          Region
          <span class="caret"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">

          <li role="menuitem">
            <label class="dropdown-item">
              <input type="checkbox" [(ngModel)]="regionSelector.all" (change)="toggleMultiSelectAll('regionDropdown')" /> (All Regions)
            </label>
          </li>

          <li *ngFor="let n of regionSelector.selectionItems" class="menuitem">
            <label class="dropdown-item">
              <input type="checkbox" [(ngModel)]="n.checked" (change)="checkIfAllElementSelected('regionDropdown')"> {{n.elementName}}
            </label>
          </li>
        </ul>
      </div>

      <div class="btn-group" id="relationDropdown" dropdown #Dropdown="bs-dropdown" [autoClose]="false" [isOpen]="dropdownStatus['relationDropdown']"
        (isOpenChange)="toggleDropdown($event, 'relationDropdown')" (clickOutside)="onClickedOutside($event,'relationDropdown')"
        placement="top" attachOutsideOnClick="true">
        <button dropdownToggle type="button" class="btn btn-primary btn-sm dropdown-toggle">
          Relation
          <span class="caret"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">

          <li role="menuitem">
            <label class="dropdown-item">
              <input type="checkbox" [(ngModel)]="relationSelector.all" (change)="toggleMultiSelectAll('relationDropdown')" /> (All Regions)
            </label>
          </li>

          <li *ngFor="let n of relationSelector.selectionItems" class="menuitem">
            <label class="dropdown-item">
              <input type="checkbox" [(ngModel)]="n.checked" (change)="checkIfAllElementSelected('relationDropdown')"> {{n.elementName}}
            </label>
          </li>
        </ul>
      </div>

      <div class="btn-group" id="claimTypeDropdown" dropdown #Dropdown="bs-dropdown" [autoClose]="false" [isOpen]="dropdownStatus['claimTypeDropdown']"
        (isOpenChange)="toggleDropdown($event, 'claimTypeDropdown')" (clickOutside)="onClickedOutside($event,'claimTypeDropdown')"
        placement="top" attachOutsideOnClick="true">
        <button dropdownToggle type="button" class="btn btn-primary btn-sm dropdown-toggle">
          Claim Type
          <span class="caret"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">

          <li role="menuitem">
            <label class="dropdown-item">
              <input type="checkbox" [(ngModel)]="claimTypeSelector.all" (change)="toggleMultiSelectAll('claimTypeDropdown')" /> (All Claim Type)
            </label>
          </li>

          <li *ngFor="let n of claimTypeSelector.selectionItems" class="menuitem">
            <label class="dropdown-item">
              <input type="checkbox" [(ngModel)]="n.checked" (change)="checkIfAllElementSelected('claimTypeDropdown')"> {{n.elementName}}
            </label>
          </li>
        </ul>
      </div>


      <div class="btn-group" id="ageGroupDropdown" dropdown #Dropdown="bs-dropdown" [autoClose]="false" [isOpen]="dropdownStatus['ageGroupDropdown']"
        (isOpenChange)="toggleDropdown($event, 'ageGroupDropdown')" (clickOutside)="onClickedOutside($event,'ageGroupDropdown')"
        placement="top" attachOutsideOnClick="true">
        <button dropdownToggle type="button" class="btn btn-primary btn-sm dropdown-toggle">
          Age Group
          <span class="caret"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">

          <li role="menuitem">
            <label class="dropdown-item">
              <input type="checkbox" [(ngModel)]="ageGroupSelector.all" (change)="toggleMultiSelectAll('ageGroupDropdown')" /> (All Age Group)
            </label>
          </li>

          <li *ngFor="let n of ageGroupSelector.selectionItems" class="menuitem">
            <label class="dropdown-item">
              <input type="checkbox" [(ngModel)]="n.checked" (change)="checkIfAllElementSelected('ageGroupDropdown')"> {{n.elementName}}
            </label>
          </li>
        </ul>
      </div>


      <div class="btn-group" id="genderDropdown" dropdown #Dropdown="bs-dropdown" [autoClose]="false" [isOpen]="dropdownStatus['genderDropdown']"
        (isOpenChange)="toggleDropdown($event, 'genderDropdown')" (clickOutside)="onClickedOutside($event,'genderDropdown')"
        placement="top" attachOutsideOnClick="true">
        <button dropdownToggle type="button" class="btn btn-primary btn-sm dropdown-toggle">
          Gender
          <span class="caret"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">

          <li role="menuitem">
            <label class="dropdown-item">
              <input type="checkbox" [(ngModel)]="genderSelector.all" (change)="toggleMultiSelectAll('genderDropdown')" /> (All Gender)
            </label>
          </li>

          <li *ngFor="let n of genderSelector.selectionItems" class="menuitem">
            <label class="dropdown-item">
              <input type="checkbox" [(ngModel)]="n.checked" (change)="checkIfAllElementSelected('genderDropdown')"> {{n.elementName}}
            </label>
          </li>
        </ul>
      </div>





    </div>
  </div>
</div>

<div class="row" id="waterfallChartArea" style="position: relative;" #waterfallContainer>
  <div class="col-6">
    <div class="waterfallChart" id='proposalWaterfallID' #proposalWaterfall></div>
  </div>
  <div class="col-6">
    <div class="waterfallChart" id='benchmarkWaterfallID' #benchmarkWaterfall></div>
  </div>
  <div id="waterfallTooltip">Tooltip</div>
</div>