$primary-font-color: #666;
$axis-line-dark-grey: darkgrey;
@mixin tooltip() {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    min-width: 50px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    padding: 6px 14px 6px 14px;
    border-radius: 4px;
    text-align: left;
    line-height: 1.3;
    color: $primary-font-color;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, .15);
}

.chart__tooltip {
    @include tooltip();
}