$primary-font-color: #666;
$axis-line-dark-grey: darkgrey;
$graph-blue-primary: #5cbae6;
$graph-green-primary: green;
$graph-red-primary: red;

@mixin tooltip() {
    opacity: 0; // visibility: hidden;
    pointer-events: none;
    position: absolute;
    min-width: 50px;
    // max-width: 200px;

    width: 180px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    padding: 6px 10px 6px 10px;
    border-radius: 4px;
    text-align: left;
    line-height: 1.3;
    color: $primary-font-color;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, .15);
    z-index: 9999;

}


@mixin chartTooltip() {
    opacity: 0; // visibility: hidden;
    pointer-events: none;
    position: absolute;
    min-width: 50px;
    // max-width: 200px;

    // width: 180px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    padding: 6px 10px 6px 10px;
    border-radius: 4px;
    text-align: left;
    line-height: 1.3;
    color: $primary-font-color;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, .15);
    z-index: 9999;

}



@mixin chartTitle() {
    color: $primary-font-color;
    font-size: 1.15rem;
    font-weight: 500;
    text-align: center;
}

@mixin gridgraph() {
    cursor: pointer;
    transition: all .2s;
    &:hover {
        transform: scale(1.1);
    }
}

.projection__tooltip {
    @include tooltip();
}


.chart__tooltip {
    @include chartTooltip();
}

.chart__tilte {
    @include chartTitle();
}

.grid-graph-toggle {
    @include gridgraph();
}

.claim-avg-cost__graph {
    &-prev {
        fill: $axis-line-dark-grey;
        opacity: 0.8;
    }
    &-curr {
        fill: $graph-green-primary;
        opacity: 0.8;
        // .green {}
        &.red {
            fill: $graph-red-primary;
            opacity: 0.8;
        }



    }
    &-benchmark {
        fill: $graph-blue-primary;
        opacity: 0.8;
    }
}